 /* MEDIA QUERIES */
 @media screen and (min-width: 480px) {
    header nav {
        float: none;
        clear: left;
        width: 100%;
}
}
#navbar {
    position: fixed;
    min-width: 100px;
    left: 10px;
    width: 300px;
    height: 200%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    display: block;
}
body {
    font-size: 120%;
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: auto;
    margin-left: 30%;
    margin-bottom: 20%;    
}

header {
    font-size: 150%;
    font-weight: bold;
    display: block;
}

.big {
    margin-left: 12%;
}

ul {
    list-style: none;
    display: block;
    font-size: 89%;
}
.style {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.good {
    line-height: 287%;
    border-top: 3px solid;
    text-align: left;
    display: block;
    margin: 0;
}

.nav-link {
    color: #4d4e53;
    text-decoration: none;
} 

.yes {
    padding: 0;
}
